

@media (max-width: 1440px) {
  .logo {
    img {
      width: 100px;
    }
  }
  .header__title {
    font-size: 130px;
    line-height: 108px;
    top: 20px;
    left: 60px;
  }
  .menu {
    padding-top: 10px;
  }
  .header__search {
    padding-bottom: 8px;
  }
  .header__date  {
    font-size: 60px;
    span {
      font-size: 14px;
      padding-top: 0;
      margin-bottom: 12px;
    }
  }
  .header__arrows {
    left: 130px;
  }
}



@media (max-width: 1366px) {
  .header__aside {
    position: absolute;
    border-right: none;
    height: 108px;
    text-align: left;
    background-color: rgba(255,255,255, 0.1);
    display: flex;
    padding-right: 25px;
  }
  .logo img {
    width: 95px;
  }
  .menu {
    padding-top: 0;
  }
  .menu__list {
    li {
      display: inline-block;
    }
    a {
      padding: 15px;
    }
  }
  .header__search {
    padding: 33px 15px 15px;
  }
  .header__date {
    padding: 15px;
  }
  .header__location {
    margin-top: 42px;
  }
  .slider-item__info-title {
    font-size: 65px;
    line-height: 32px;
  }
  .header__arrows {
    left: 20px;
    bottom: 20px;
  }
}

@media (max-width: 1340px) {
  .header__map {
    svg {
      width: 500px;
      height: 250px;
    }
  }
  .slider-arrows {
    top: 20px;
    right: 20px;
  }
  .slider-arrows__left {
    right: 60px;
  }
}


@media (max-width: 1040px) {
  .header__arrows {
    display: none;
  }
  .menu {
    background-color: #000;
    z-index: 22;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first-span {
    padding-right: 3px;
  }
  .header__search {
    padding: 40px 15px 15px;
  }
  .slider-item__info {
    position: absolute;
    right: 20px;
    bottom: 17px;
    text-align: right;
  }
  .slider-item__info-text {
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .headline-left {
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
  }
  .slider-item__info-suptext {
    margin-bottom: 5px;
  }
  .headline-left::before {
    width: 50px;
  }
  .slider-item__info-suptitle {
    margin-bottom: 9px;
  }
  .slider-item__info-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  .slider-dotshead {
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 5px;
  }
  .dots-box {
    width: 125px;
  }
  .dots-box__number {
    font-size: 18px;
  }
  .dots-box__name {
    line-height: 18px;
  }
}